@import url("../style.css");
body{
    background-color: rgb(244, 231, 216);
    padding: 35px;
}
h2{
    padding-top:35px;
}
head {
    display: inline-block;
    font-size: 14px;
    margin: 0;
    width: 90px;
  }
img {
    width: 750px;
    border: 0px;
}

iframe {
    background-color: white;
    border: none;
}